/* .card{
    color:red;
background-color:limegreen;
border-radius:5px;
border:solid 1px blue;
box-shadow:0px 0px 10px black;
width:100;
padding:15px;
} */

.spongebob{
    width:150px;
    height:150px;
    border-radius:50%;
    border:solid 3px black;
    transform: scale(1.05);
}

.spongebob:hover{
border:solid 5px= purple;
cursor:pointer;
transform: scale(0.55);

}

.mypage{
border:solid 1px red;
background-color: wheat;
text-align: center;
border-radius:5px;
width:250px;
padding:10px;
}

.btn-send{
    background-color: mediumaquamarine;
    border-radius:5px;
    border:solid 1xp black;
    transition-duration: 0.5s;
}

.btn-send:hover{
background-color:coral;
color:lightblue;
cursor:pointer;
}





.dropdown-menu{
width:250px;

}




.register{
    width:250px;
color: yellow;
text-align:center;
padding-bottom:5px;
}

.card-img{

height:450px;

border-radius:5px 5px 0px 0px;
}

.card-body{
background-color:black;
color:white;
}

.col{
    width:300px;
    display:inline-block;
    height:10%;

    margin-left:10px;
}

.about-me{
text-align: right;
border:solid 1px grey;

border-radius:15px;
padding:15px;

}

.about-img{
border-radius:15px;

}




